body {
  background-image: url('okay.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#status {
  width: 48%;
  background-color: purple;
  position: absolute;
  left: 21%;
  top: 37%;
}

#section {
  position:
}


#progression {
  width: 0%;
  height: 40px;
  background-color: pink;
  text-align: center;
  line-height: 20px;
  color: lavender;
}

h1 {
  color: pink;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  position: absolute;
left: 36%;

}

#button {
    position: absolute;
    left: 53%;
    top: 23%;
    padding: 10px;
    border-radius: 10px;
    background-color: lavender;
    font-size: 19px;
}

#message {
  font-size: 35px;
  color: pink;
  position: absolute;
  left: 41%;
  top: 56%;
  background-color: rgba(88, 127, 148, 0.5);
}

input {
  position: absolute;
  left: 33%;
  top: 23%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
